<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := slice }}
    {{ $videos := slice }}
    
    {{/* Process images */}}
    {{ range $image := where (.Resources.ByType "image") "Params.hidden" "ne" true }}
      {{ $title := "" }}
      {{ $date := "" }}
      {{ with $image.Exif }}
        {{ $date = .Date }}
        {{ with .Tags.ImageDescription }}
          {{/* Title from EXIF ImageDescription */}}
          {{ $title = . }}
        {{ end }}
      {{ end }}
      {{ if ne $image.Title $image.Name }}
        {{/* Title from front matter */}}
        {{ $title = $image.Title }}
      {{ end }}
      {{ if $image.Params.Date }}
        {{/* Date from front matter */}}
        {{ $date = time $image.Params.Date }}
      {{ end }}
      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "Date" $date
        "image" $image
        "Params" $image.Params
        "Type" "image"
        )
      }}
    {{ end }}
    
    {{/* Process videos */}}
    {{ range $video := where (.Resources.ByType "video") "Params.hidden" "ne" true }}
      {{ $title := $video.Title }}
      {{ if eq $title $video.Name }}
        {{ $title = "" }}
      {{ end }}
      {{ $date := "" }}
      {{ if $video.Params.Date }}
        {{ $date = time $video.Params.Date }}
      {{ end }}
      {{ $videos = $videos | append (dict
        "Name" $video.Name
        "Title" $title
        "Date" $date
        "video" $video
        "Params" $video.Params
        "Type" "video"
        )
      }}
    {{ end }}
    
    {{/* Merge images and videos */}}
    {{ $allMedia := $images | append $videos }}
    {{ $publishResources := default true .Params.build.publishResources }}
    
    {{ range sort $allMedia (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ if eq .Type "image" }}
        {{/* Render image item */}}
        {{ $image := .image }}
        {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
        {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
        {{ $caption := .Title }}
        {{ with .Params.caption }}
          {{ $caption = . }}
        {{ end }}
        <a class="gallery-item" href="{{ if $publishResources }}{{ $image.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" data-pswp-target="{{ $image.Name | urlize }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
          <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
          </figure>
          {{/* Provide caption HTML for PhotoSwipe Dynamic Caption plugin */}}
          <div class="pswp-caption-content">{{ $caption }}</div>
          <meta itemprop="contentUrl" content="{{ if $publishResources }}{{ $image.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" />
          {{ with site.Params.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ site.Params.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ else if eq .Type "video" }}
        {{/* Render video item */}}
        {{ $video := .video }}
        {{ $caption := .Title }}
        {{ with .Params.caption }}
          {{ $caption = . }}
        {{ end }}
        {{/* Try to get poster image (thumbnail) */}}
        {{ $poster := "" }}
        {{ with .Params.poster }}
          {{ $poster = . }}
        {{ end }}
        <a class="gallery-item gallery-video-item" href="{{ $video.RelPermalink }}" data-pswp-type="video" data-pswp-video-src="{{ $video.RelPermalink }}" data-pswp-width="1920" data-pswp-height="1080" data-pswp-target="{{ $video.Name | urlize }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/VideoObject" style="aspect-ratio: 16 / 9">
          <figure style="background-color: #000; aspect-ratio: 16 / 9; position: relative;">
            {{ if $poster }}
              <img class="lazyload" data-src="{{ $poster }}" alt="{{ .Title }}" style="width: 100%; height: 100%; object-fit: cover;" />
            {{ else }}
              <video style="width: 100%; height: 100%; object-fit: cover;" preload="metadata">
                <source src="{{ $video.RelPermalink }}#t=0.1" type="{{ $video.MediaType }}">
              </video>
            {{ end }}
            <div class="video-play-icon">
              <svg width="64" height="64" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" fill="rgba(0,0,0,0.6)"/>
                <path d="M8 5v14l11-7z"/>
              </svg>
            </div>
          </figure>
          <div class="pswp-caption-content">{{ $caption }}</div>
          <meta itemprop="contentUrl" content="{{ $video.RelPermalink }}" />
          <meta itemprop="uploadDate" content="{{ .Date }}" />
          {{ with site.Params.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ site.Params.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>
</section>
